@import "../App.css";

.header{
    display: flex;
    align-items: center; 
  
    height: var(--header-height);
    border-bottom: 1px solid var(--line-color);
    width: 100vw;
   
}

.header__logo{
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
}
.header__logo>img{
    height: 100%;
    object-fit: contain;
}
.header__logo>span{
    color: var(--primary-text-color);
    font-size: 25px;
    font-weight: 400;
    margin-left: 16px;

}
.header__searchContainer{
    flex: 1;
    display: flex;
   
    /* align-items: center; */
    
}
.header__searchBar{
    position:relative;
    left:6%;
    width: 45%;
    height: 35px;
    display: flex;
    border-radius: 6px;
    background-color: #22262A;
  
    align-items: center;
    padding: 0 8px;
}
.MuiSvgIcon-root{
    color: var(--primary-color-placeholder); 
}
.header__searchBar>input{
    flex: 1;
    height: 60%;
    font-size: 16px;
    color: lightgray;
    background: none;
    border: none;
    margin-left: 12px;
}
.header__searchBar>input:focus{
    outline: none;
    color: black;
}
.header__searchBar>input::placeholder{
color:var(--primary-color-placeholder);

}
.header__icons{
    display: flex;
    height: 90%;
    align-items: center;
    margin-right: 20px;
}

.header__icons .MuiSvgIcon-root{
    font-size: 25px;
    color: rgb(82,82,82);
    margin:4px;
}

.header__icons>span{
    
    margin-right: 30px;
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.header__icons>img{
    border-radius: 50%;
    height: 60%;
    object-fit: contain;
    margin-left: 5px;
    margin-right: 5px;
}