@import "../App.css";

.upload{
    display: flex;
    align-items: center;
    padding: 12px 0;
    padding-left: 20px;
}

.upload__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 32px 6px 8px;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    cursor: pointer;
}

.upload__container>p{
    margin-left: 14px;
}
.UploadLogo{
     position: fixed;
width: 59px;
height: 59px;
right: 4%;
bottom: 10%;
}
#file-input{
    display: none;
}